$font-color: white;

@mixin absolute() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  background: black;
  color: $font-color;
  margin: 0;
  overflow: hidden;
}

#root {
  @include absolute();
  pointer-events: none;
}

.controls-container {
  background: grey;
  pointer-events: all;
  max-width: 20vw;
}

.range-thumb {
  height: 10px;
  width: 10px;
  background-color: white;
}
.range-track {
  height: 6px;
  width: 100%;
  background-color: grey;
}
.error-text {
  color: red;
}
