@import "Vars.scss";
@import "Controls.scss";
@import "About.scss";

html,
body {
  width: 100vw;
  height: 100vh;
}

#root {
  @include absolute();
  pointer-events: none;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica";
  font-size: $sm-ft-size;

  background: linear-gradient(
    352deg,
    #19191b,
    #000000,
    #050408,
    #1a1d2a,
    #271c49,
    #593259
  );
  background-size: 300% 300%;
  animation: moveBg 70s ease infinite;
}

body,
a {
  color: $font-color;
}

a,
.btn {
  pointer-events: all;
}

.btn {
  background: $black;
}

.h3 {
  font-weight: 800;
  font-size: $md-ft-size;
}

.upper {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.stats {
  margin: $nav-padding;
  top: initial !important;
  bottom: 0;
  right: initial;
  left: 0 !important;
  z-index: 100 !important;
}

.credits {
  @include absolute;
  margin: $nav-padding;
  top: initial;
  left: initial;
  font-weight: 400;
}

@keyframes moveBg {
  0% {
    background-position: 45% 0%;
  }
  50% {
    background-position: 56% 100%;
  }
  100% {
    background-position: 45% 0%;
  }
}
