@import "Vars.scss";
@import "Animation.scss";
@import "Controls.scss";
@import "About.scss";
@import "Loading.scss";

html,
body {
  width: 100vw;
  height: 100vh;
}

#root {
  @include absolute();
  pointer-events: none;
}

#galaxy {
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica";
  font-weight: 600;
  font-size: $sm-ft-size;

  background: linear-gradient(
    352deg,
    #19191b,
    #000000,
    #050408,
    #1a1d2a,
    #271c49,
    #593259
  );
  background-size: 300% 300%;
  animation: move-bg 70s ease infinite;
}

body,
a {
  color: $font-color;
}

a {
  text-decoration: none;
  position: relative;

  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: $font-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after {
    width: 50%;
    left: 23%;
  }
}

a,
.btn {
  pointer-events: all;
  letter-spacing: 0.08rem;
}

// BUTTONS
.btn {
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    color: $black;
    text-shadow: $text-outline;
  }
}

.btn-group {
  @include column-grid(minmax(10px, 1fr), 0);
  border-left: 1px $font-color solid;
  border-right: 1px $font-color solid;

  .active {
  }
  .btn:not(.active) {
    opacity: $grey-opacity;
    &:hover {
      opacity: 1;
    }
  }
}

.slider {
  font-size: $smst-ft-size;
  font-weight: 100;
  letter-spacing: 0.08rem;
  overflow: hidden;
  height: $thumb-size * 1.25;
  @include column-template-grid(78px auto 32px, 10px);
  align-items: center;
  input[type="range"] {
    appearance: none;
    outline: none;
    height: 3px;
    width: 100%;
    min-width: 0;
    &::-webkit-slider-thumb {
      @include thumb;
    }
    &::-moz-range-thumb {
      @include thumb;
    }
    &::-ms-thumb {
      @include thumb;
    }
  }
}

.horz-divider,
.vert-divider {
  margin: auto;
  position: relative;
  background: $font-color;
}

.horz-divider {
  width: 80%;
  height: 1px;
}

.vert-divider {
  height: 80%;
  width: 1px;
}

.md {
  font-size: $md-ft-size;
}

.lg {
  font-size: $lg-ft-size;
}

.b {
  font-weight: 900;
}

.upper {
  text-transform: uppercase;
}

.hidden {
  visibility: hidden;
}

.stats {
  margin: $nav-padding;
  top: initial !important;
  bottom: 0;
  right: initial;
  left: 0 !important;
  z-index: 100 !important;
}

.notification {
  text-align: center;
  letter-spacing: $letter-spacing;
  margin-top: 8vw;
  &.out {
    animation: fade-out 1s ease-in both;
  }
}

.shimmer {
  animation: fade-in 1.3s ease-in 0.5s both;
  text-shadow: $text-glow;
  span {
    // assuming notification string length <= 100
    @for $i from 2 through 100 {
      &:nth-of-type(#{$i}) {
        animation: shimmer
          (random() * 3 + 2) +
          s
          ease-in
          both
          infinite;
        animation-delay: random() + s;
      }
    }
  }
}

.about-panel.hidden .shimmer {
  animation: none;
}

.credits {
  @include absolute;
  @include column-grid(max-content, 1em);
  margin: $nav-padding;
  top: initial;
  left: initial;
}

.faded,
.credits {
  font-weight: 400;
  opacity: $grey-opacity;
  letter-spacing: $letter-spacing;
}
