$controls-panel-z-index: 1;

.btn.controls {
  text-shadow: $text-glow;
  padding: $nav-padding;
  z-index: $controls-panel-z-index + 1;
  visibility: visible;
  opacity: 1;
  justify-self: end;
}

.btn.controls {
  width: 120px;
  height: 35px;
  max-width: 40vw;
  position: relative;
  &:after {
    content: "Controls";
    @include absolute;
    padding: $nav-padding;
    text-align: right;
    opacity: 1;
  }
  &:before {
    content: "Close";
    @include absolute;
    padding: $nav-padding;
    text-align: right;
    opacity: 0;
  }
}

/* if not hidden, show close button; else, 
show original button. 
Do not change below ordering! Ordering of close-in, close-out is important! */
.controls-panel.shown .btn.controls {
  &:after {
    animation: fade-out 0.25s ease both;
  }
  &:before {
    animation: fade-in 0.2s ease 0.35s both;
  }
}

.controls-panel.out .btn.controls {
  &:before {
    animation: fade-out 0.25s ease both;
  }
  &:after {
    animation: fade-in 0.2s ease 0.3s both;
  }
}

.controls-panel {
  @include absolute;
  @include row-grid(max-content, 0);
  overflow: hidden;
  left: initial;
  bottom: initial;
  width: 320px;
  min-width: 20vw;
  max-width: 100vw;
  z-index: $controls-panel-z-index;
  // barnes hut
  &.BarnesHut {
  }
  // direct
  &.Direct {
    .theta {
      display: none;
    }
  }
  &.shown {
    pointer-events: all;
  }

  .btn {
    white-space: nowrap;
  }

  .text-content {
    @include row-grid(max-content, 1.2em);
    padding: 0 2vw 2vw 2vw;
    transform-origin: top right;
  }

  &.shown {
    .text-content {
      animation: fade-in-scale 0.5s ease both;
    }
  }

  &.out {
    .text-content {
      animation: fade-out-scale 0.5s ease both;
    }
  }

  .btn:not(.controls) {
    text-align: center;
    padding: 1vh;
    &:hover {
      background: $font-color;
    }
  }

  .btn.play {
    font-size: $md-ft-size;
    line-height: $md-ft-size;
    outline: 1px solid white;
  }

  .btn.reset {
    outline: none;
  }

  .btn-group {
    .btn:not(.active) {
      outline: none;
    }
    .btn.active {
      background: $font-color;
      color: $black;
    }
  }
}

//   SLIDERS
.range-thumb {
  height: 10px;
  width: 10px;
  background-color: white;
}
.range-track {
  height: 6px;
  width: 100%;
  background-color: grey;
}
.error-text {
  color: $red;
}

@media only screen and (max-width: 450px) {
  .controls-panel {
    width: 100vw;
  }
}
